@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-chivo: "Chivo", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-roboto);
    @apply transition-colors duration-300 text-gray-900;
  }
}

/* Custom Utilities */
@utility glow-radial {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0) 70%);
}